---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

.img-icon {
    width: 16px;
    height: 16px;
    display: inline-block;
    padding-right: 5px;
    vertical-align: text-top;
}
